.section-chapters {
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 900px;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  transform: skewY(-5deg);
  margin-top: 60px;
  grid-template-areas: "section-chapters-title", "section-chapters-embeded";
}

.section-chapters .section-chapters-title h2 {
  color: white;
  width: 209px;
  height: 62px;
}
.section-chapters-embeded {
  height: 800px;
  width: 100%;
  margin-top: 150px;
}
.section-chapters-postcad {
  transform: skewY(5deg);
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px 70px;
}
.iframe-topics {
  border: none;
  width: 450px;
  height: 250px;
}
