footer {
  height: 50px;
  margin-top: 5%;
  width: 100%;
  display: grid;
  grid-template-areas: "copyright social-network";
}
.copyright,
.social-network {
  width: 100%;
}

.copyright span {
  font-size: 20px;
  margin-left: 10%;
}

.social-network ul {
  display: flex;
  margin-left: 30%;
}

.social-network ul li {
  list-style-type: none;
  padding: 15px;
}
