footer {
  height: 50px;
  margin-top: 5%;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-areas:
    "copyright social-network";
}

.copyright span {
  font-family: IBMPlexMono;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}

.social-network ul {
  display: flex;
  margin: 0 auto;
}
