/*--------------SECTION GUEST--------------*/

.section-guest .img-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 0px;
  grid-template-areas:
    "title"
    "img-container";
}
.section-guest .title {
  margin-left: 10%;
  font-size: 20px;
}

.section-guest .img-container {
  width: 100%;
  margin-left: 10%;
  grid-template-rows: auto;
  grid-gap: 0px;
  grid-template-areas:
    "img-guest-grace-hopper img-guest-katie-bouman img-guest-margaret-hamiltonian"
    "img-guest-computer img-guest-computer-operators img-guest-susan-kare";
}

.img-guest-grace-hopper,
.img-guest-katie-bouman,
.img-guest-margaret-hamiltonian,
.img-guest-computer,
.img-guest-computer-operators,
.img-guest-susan-kare {
  width: 410px;
  height: 300px;
}
