.section-welcome {
  margin-left: 15%;
}

.section-welcome .section-welcome-title .world-cross-line {
  text-decoration: line-through;
}

.section-welcome .section-welcome-title {
  margin-bottom: 1%;
  font-size:50px;
}

.section-welcome .section-welcome-title-paragraph {
  margin-bottom: 2%;
  width: 55%;
  font-size: 20px;
  word-spacing: 16px;
  text-align: left;
}

.btn-know-more {
  background: #00f3bb;
  border: none;
  width: 228px;
  height: 48px;
}

.btn-know-more:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}